body{
  background-color: #fefff5;
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
  color: #000000;
  font-family: Copperplate, Courier New, sans-serif;
  margin: 10% 20%;
}

.exp-header {
  text-allign: center;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: rgba(0,0,0,0.1)
}

.exp-image {
  position: absolute;
  top: 40px;
  right: 30px;
  border: 5px solid #ffffff
  
}
